<footer class="container-fluid text-center">
<p style="color:#939393;font-size:10px">컴퓨터수학과 컴퓨터공학과 | 경기도 광주시 태봉로 176 힐스테이트 1612동 501호 |  <br>
대표 : 정재혁 | 개인정보관리책임자 : 정재혁(cupid3021@gmail.com)</p>
</footer>
