<!DOCTYPE HTML>
<html>
 <head>
   <% include ../partials/head %>
 </head>
 <body>
   <% include ../partials/nav %>
   <br><br>
   <div align="center" style="text-align:center;">
   <img src="image\offwhite2.jpg" />
  </div><br>
  <div align="center" style="text-align:center;">
  <img src="image\pofo.jpg" style="width:45%"/>
  </div><br>
   <div id="text" class="container text-center">
</div>



<% include ../partials/footer %>

 </body>
</html>
